@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Allura|Baloo|Sacramento');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

h3 {
    margin:20px 0;
    font-family: 'Baloo', cursive;
}

.divider {
    height: 1px;
    background-color: black;
    width: 70%;
}

/*---------------------------------------Navbar*/

.navbar { 
    margin: 0;
    height: 10%;
}

.navbar-container {
    position: relative;
    margin: 0;
    padding: 5px 8px;
}

.bg-color-navbar {
    background-color: #e6d167;
}

.navbar-brand {
    padding: 15px 20px;
    font-family: 'Allura', cursive;
    font-size: 37px;
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 3px;
}
    
.navbar-default .navbar-brand {
    color: #CE1B33;
    transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
}


.navbar-default .navbar-brand:hover {
    color: #E96B7C;
    
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CE1B33;
    height: 2px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #EFFAA9;
}

.navbar-default .navbar-nav>li>a {
    color: #F9FAF4;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #E96B7C;
}

/*--------------------------------HomePage*/

.page-container {
    padding: 0;
}

.wrapper-home {
    background-color: #F3F3BC;
}


.main-photo {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 150px;
    text-align: center;
}

.greatest-hits {
    font-family: 'Sacramento', cursive;
    font-size: 35px;
    font-weight: 200;
    padding: 20px 10px;
}

@media screen and (max-width: 600px) {
    .greatest-hits {
        font-size: 25px;
    }
}

.video-title {
    color: #CE1B33;
}

video {
    width: 70%;
}

@media screen and (max-width: 600px) {
    video {
        width: 90%;
    }
}

.link {
    color: #24A22D;
}

.link:hover {
    color: #286835;
}

.upcoming-concerts {
    font-size: 20px;
    font-weight: 300;
    word-spacing: 2px;
    padding: 30px 10px;
}

@media screen and (max-width: 600px) {
    .upcoming-concerts {
        font-size: 15px;
    }
}


/*---------------------------------AboutPage*/

.bg-members {
    background-color: #F3F3BC;
}

.about-members {
    padding: 20px 40px;
    font-size: 15px;
}

.biography {
    padding: 40px 70px;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .biography {
        padding: 30px;
    }
}

.b-photo {
    padding-bottom: 20px;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .b-photo {
        width: 80%;
    }
}

/*---------------------------------MusicPage*/

.bg-music {
    background-color: #F3F3BC; 
}

.heading-page p {
    text-align: center;
}

.monkees-audio {
    padding-bottom: 30px;
}

.album-name p {
    color: #CE1B33;
    padding-top: 60px;
    padding-bottom: 5px;
}

.album-name img {
    padding-bottom: 60px;
}


/*---------------------------------GalleryPage*/

.bg-gallery {
    background-color: #F3F3BC;
}

div.gallery img {
    border: 2px dotted black;
    display: inline-block;
    margin: 20px 0;
}


/*---------------------------------BookingPage*/


.bg-booking {
    background-color: #F3F3BC;
}

.enquiry-form {
    padding: 50px 0;
}

.enquiry-form p {
    margin: 0 auto; 
    font-size: 18px;
    color: black;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .enquiry-form p {
        width: 90%;
    }
}

.enquiry-form p span {
    color: red;
}

.form-group label {
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
}

.form-select .form-selection {
    padding-top: 15px;
    font-size: 20px;
}

.center-form form {
    margin: 0 auto;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .center-form form {
        width: 90%;
    }
}

.center-form label {
    padding-top: 70px;
}

.center-form button {
    margin-top: 85px;
}

.bottom-line p {
    color: black;
    padding: 80px 0;
}

/*-------------------------------Footer*/

#footer-details {
    margin: 10px;
}

footer {
    background-color: #e6d167; 
    height: 10%;
    color: #CE1B33;
}

.general-sub {
    text-align: center;
}

.social-links {
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 12px 0;
    font-size: 13px;
    line-height: 7px;
    color: #fafafa;
    background: #CE1B33;
    transition: background-color 0.35s ease-in-out;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
}
    

.social-links li a i:hover {
    background-color: #E96B7C;
}
    



